.TodoItem {
    display: flex;
    margin-bottom: 8px;
}

.TodoItem .contents {
    margin-right: 10px;
    display: flex;
}

.TodoItem .text {
    margin-left: 10px;
    font-size: 25px;
}

.TodoItem .contents.checked {
    color: #cdcdcd;
    text-decoration: line-through;
}

.TodoItem .edit {
    margin-right: 5px;
}

button {
    background-color: white;
    outline: none;
    border: none;
}
